<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Centralizador.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <Centralizador.WinApp.Properties.Settings>
      <setting name="SerialDigitalCert" serializeAs="String">
        <value>04E4E7</value>
      </setting>
      <setting name="DBUser" serializeAs="String">
        <value>centra</value>
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value>Softland358</value>
      </setting>
      <setting name="UserCEN" serializeAs="String">
        <value>german.gomez@cvegroup.com</value>
      </setting>
      <setting name="PasswordCEN" serializeAs="String">
        <value>cvepagos2017</value>
      </setting>
      <setting name="DBSoftland" serializeAs="Xml">
        <value>
          <DatosEmpresas>
            <Empresa id="189">SANFRANCISCO</Empresa>
            <Empresa id="190">QUINTA</Empresa>
            <Empresa id="194">VALLE</Empresa>
            <Empresa id="364">OCOA</Empresa>
            <Empresa id="415">ST4</Empresa>
            <Empresa id="427">ST10</Empresa>
            <Empresa id="428">TRICAHUESOLAR</Empresa>
            <Empresa id="469">ST11</Empresa>
            <Empresa id="470">PILPILEN</Empresa>
            <Empresa id="491">TRICAHUE</Empresa>
            <Empresa id="999">RENOVABLE</Empresa>
            <Empresa id="465">TAMARUGAL</Empresa>
            <Empresa id="528">ALFA</Empresa>
          </DatosEmpresas>
        </value>
      </setting>
    </Centralizador.WinApp.Properties.Settings>
  </applicationSettings>
</configuration>