<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Centralizador.Models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Centralizador.Models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Centralizador.Models.Properties.Settings>
      <setting name="Centralizador_Models_CrSeed_CrSeedService" serializeAs="String">
        <value>https://palena.sii.cl/DTEWS/CrSeed.jws</value>
      </setting>
      <setting name="Centralizador_Models_GetTokenFromSeed_GetTokenFromSeedService"
        serializeAs="String">
        <value>https://palena.sii.cl/DTEWS/GetTokenFromSeed.jws</value>
      </setting>
      <setting name="Centralizador_Models_registroreclamodteservice_RegistroReclamoDteServiceEndpointService"
        serializeAs="String">
        <value>https://ws1.sii.cl/WSREGISTRORECLAMODTE/registroreclamodteservice</value>
      </setting>
      <setting name="UserEmail" serializeAs="String">
        <value>facturacionchile@capvertenergie.com</value>
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value>Che@2019!</value>
      </setting>
      <setting name="BaseAddress" serializeAs="String">
        <value>https://ppagos-sen.coordinador.cl/</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>10.13.0.114\SQL2014</value>
      </setting>
      <setting name="DBUser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value>Softland358</value>
      </setting>
      <setting name="SerialDigitalCert" serializeAs="String">
        <value>04E4E7</value>
      </setting>
      <setting name="CCEmail" serializeAs="String">
        <value>francisca.negron@cvegroup.com</value>
      </setting>
    </Centralizador.Models.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Centralizador.Models.Properties.Settings>
      <setting name="UIDRange" serializeAs="String">
        <value>113496</value>
      </setting>
      <setting name="DateTimeEmail" serializeAs="String">
        <value>11/12/2020 22:24:25</value>
      </setting>
    </Centralizador.Models.Properties.Settings>
  </userSettings>
</configuration>