<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Centralizador.Models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Centralizador.Models.Properties.Settings>
            <setting name="BaseAddress" serializeAs="String">
                <value>https://ppagos-sen.coordinadorelectrico.cl/api/v1/resources/</value>
            </setting>
            <setting name="UserCEN" serializeAs="String">
                <value>german.gomez@cvegroup.com</value>
            </setting>
            <setting name="PasswordCEN" serializeAs="String">
                <value>cvepagos2017</value>
            </setting>
            <setting name="DBSoftland" serializeAs="Xml">
                <value>
                    <DatosEmpresas>
                        <Empresa id="189">SANFRANCISCO</Empresa>
                        <Empresa id="190">QUINTA</Empresa>
                    </DatosEmpresas>
                </value>
            </setting>
        </Centralizador.Models.Properties.Settings>
    </userSettings>
</configuration>